APP_BASE_URL=/aerolinea

DB_HOST=127.0.0.1
DB_USER=tu_usuario
DB_PASSWORD=tu_password
DB_NAME=aerolinea
DB_ROOT_PASSWORD=root

CLOUDINARY_CLOUD_NAME=tu_cloud_name
CLOUDINARY_API_KEY=tu_api_key
CLOUDINARY_API_SECRET=tu_api_secret