.options-line {
    height: 70px;
}

.option-line-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    border-right: 2px solid #dfd6d6;
    transition: all 0.15s ease;
}

.option-line-item:hover {
    background-color: #eeeeee;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.12);
    transition: all 0.3s ease-out;
}

.option-line-item.active {
    background-color: #e5e5e5;
    box-shadow:
        inset 0 3px 6px rgba(0, 0, 0, 0.2),
        inset 0 -1px 2px rgba(255, 255, 255, 0.7);
    transform: translateY(1px);
    border-radius: 10px;
}

.option-line-item:last-child {
    border-right: none;
}

.option-line-item p {
    font-size: 0.7rem;
    font-weight: 500;
    letter-spacing: 0.7px;
}

.iconos-search {
    width: 28px;
    height: 28px;
}

@media screen and (min-width: 400px) {
    .option-line-item p {
        font-size: 0.9rem;
        font-weight: 500;
        letter-spacing: 0.7px;
    }
}

#box2 {
    background-color: #fafcfe;
}

.autocomplete {
    position: relative;
    background-color: #e8effc;
    max-width: 395px;
    width: 100%;
}

.input-custom {
    width: 100%;
}

.autocomplete-icon {
    width: 24px;
    height: 24px;
}

.autocomplete-results {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    background: white;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    /* overflow: hidden; */
    display: none;
    z-index: 1000;
    -webkit-overflow-scrolling: touch;
}

.autocomplete-option {
    padding: 12px 15px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.autocomplete-option:hover {
    background: #f1f5f9;
}

.autocomplete-option strong {
    font-size: 1rem;
}

.autocomplete-option span {
    font-size: 0.8rem;
    color: #6b7280;
}

.custom-input-b2:focus {
    outline: none;
}

.custom-input-b2,
.custom-input-b2::placeholder {
    color: black;
    font-size: 1.3rem;
    font-weight: 500;
}

.flight-arrow {
    right: 0;
    top: 50%;
    transform: translateY(-60%);
    font-size: 25px;
    font-weight: bold;
}

.label-search {
    left: 0;
    top: -20px;
}

.flight-location,
.label-search {
    margin: 0;
    font-size: 0.85rem;
    color: #293246;
}

/* ------ */

.inputCalendar {
    background-color: #e8effc;
    height: 60px;
    max-width: 395px;
    width: 100%;
}

.cal-label {
    margin: 0;
    font-size: 0.85rem;
    color: #141822;
    font-weight: 500;
    top: -2px;
    left: 10px;
}

.custom-cal-in,
.custom-cal-in:focus {
    outline: none;
    border: none;
    box-shadow: none;
    background-color: transparent;
    cursor: pointer;
}

.fecha-sub {
    font-size: 0.84rem;
    color: #6b7280;
    margin: 0;
    left: 22px;
    bottom: -2px;
}

.inputCalendar-bloqueado {
    background-color: #dddddd;
    opacity: 0.65;
    cursor: not-allowed;
}

.inputCalendar-bloqueado * {
    cursor: not-allowed;
}

.inputPasajeros {
    background-color: #e8effc;
    height: 60px;
}

.selectPasenger {
    background-color: transparent;
    border: none;
    box-shadow: none;
    font-weight: 500;
    font-size: 1.2rem;
}

.selectPasenger:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.cal-label-pas {
    margin: 0;
    font-size: 0.85rem;
    color: #141822;
    font-weight: 500;
    top: -5px;
    left: 10px;
}

.b-vuelos {
    background-color: #0d3262;
    font-size: 1.2rem;
    font-weight: 500;
    width: 100%;
    letter-spacing: 0.5px;
    transition: all 0.15s ease;
}

.b-vuelos:hover {
    background-color: #0d3262;
    opacity: 0.9;
    transition: all 0.3s ease-out;
}

.btn-icon-vuelos {
    width: 27px;
    height: 20px;
}

@media screen and (min-width: 465px) {
    .inputCalendar,
    .autocomplete {
        max-width: 220px;
        width: 100%;
    }

    .ctm-box-pas-btn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .inputPasajeros {
        max-width: 460px;
        width: 100%;
    }

    .b-vuelos {
        width: 460px;
    }
}

