.logo {
    height: 46px;
    width: 74px;
}

.navbar-custom {
    background: rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(12px);
    height: 60px;
}

.navbar-custom .nav-item {
    transition: 0.25s;
}

.navbar-custom .nav-link {
    color: white;
    font-weight: 500;
    font-size: 18px;
}

.nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    transition: background-color 0.3s ease;
}

.navbar-custom .nav-item:hover {
    background: rgba(255, 255, 255, 0.12);
}

.navbar-custom .nav-item.active {
    background: rgba(255, 255, 255, 0.18);
}

.btn-custom {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    gap: 6px;
    border-color: white;
    color: white;
    font-weight: 500;
    font-size: 18px;
    transition: all 0.25s ease;
    margin-right: 35px;
}

.icono_perfil {
    height: 18px;
    width: 18px;
}

.icono_perfil-mobile {
    height: 30px;
    width: 30px;
}

.btn-custom:hover {
    background: rgba(255, 255, 255, 0.12);
    color: white;
    border: 1px solid white;
    transition: all 0.25s ease;
}