.logo {
    height: 100px;
    width: 100px;
}

.navbar-custom {
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(12px);
    height: 60px;
    display: flex;
    overflow: hidden;
}

.navbar-custom .nav-item{
    border-radius:4px;
    transition:.25s;
}

.navbar-custom .nav-link{
    color:white;
    font-weight:500;
    font-size:18px;
    padding:14px 28px;
    /* border-radius:10px; */
}

.nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    transition: background-color 0.3s ease;
} 


.navbar-custom .nav-item:hover{
    background:rgba(255,255,255,.12);
}


.navbar-custom .nav-item.active{
    background:rgba(255,255,255,.18);
}

.btn-custom{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    gap: 6px;
    border-color: white;
    color: white;
    font-weight: 500;
    font-size: 18px;
    transition:all .25s ease;
    margin-right: 13px;
}

.icono_perfil{
    height: 18px;
    width: 18px;
}

.btn-custom:hover{
    background:rgba(255,255,255,.12);
    color:white;
    border:1px solid white;
    transition:all .25s ease;
}